.tableBox{

}
table{

  border-collapse: collapse;
  border: 1px solid black;
}

tr td{
  border: 1px solid black;

}
th{
  font-weight: lighter;
  border: 1px solid black;
}
input{
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}